<head>
<link rel="stylesheet"href="/style.css"/>
h1{
font.family:verdana;
  color:blue;
}
h2{
  font-family:verdana;
  color:blue;
}
p{
  font-family:verdana;
}
body{
  background-color:#ff00ff;
}
    background-image: url("paper.gif");
    background-color: #33cc33;
}
